@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

@font-face {
  font-family: "CenturyGothic", sans-serif;
  src: url("Assets/fonts/CenturyGothic.ttf");
}

* {
  margin: 0;
  padding: 0;
}


body, html {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #505d69;
  background-color: #f4f8f9;
}

:root {
  --sidebar-width: 250px;
  --navbar-height: 70px;
  --sidebar-collapsed-width: 68px;
  --font-extra-light: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
  --brand-font-family: "CenturyGothic", sans-serif;
  --common-border-radius: 4px;
  --primary: #3051d3;
  --secondary: #7c8a96;
  --success: #3ddc97;
  --info: #00a7e1;
  --warning: #e4cc37;
  --danger: #dc3545;
  --light: #eff2f7;
  --dark: #343a40;
}


a, a:hover {
  text-decoration: none;
}

.ReactModal__Overlay--after-open {
  z-index: 10000 !important;
}

.MuiInputLabel-root{
  background-color: #fff !important;
  padding: 2px 4px !important;
  font-family: 'Nunito', sans-serif !important;
  color: #7c8a96 !important;
}

.MuiDialog-paperScrollPaper {
  overflow-x: hidden;
}